.main {
  border: 1px solid #c1bfb7;
  border-radius: 3px;
  background: white;
  padding: 15px;
}

.tabTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.previousUploadTitle {
  text-decoration: underline;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.button-group-inline {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.table-container {
  min-height: 300px;
  max-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
}