.custom-button {
  background: #fbf4de;
  border: 1px solid #c1bfb7;
  border-radius: 2px;
  text-transform: capitalize;
  font-weight: bold;
  padding: 10px 30px;
  min-width: 70px;
  cursor: pointer;

  &.primary {
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.025em;
    background-color: #4f46e5;
    color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
  }

  &.secondry {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.025em;
    background-color: transparent;
    color: rgb(3, 7, 18);
  }

  &.float-right {
    float: right;
  }

  &.stick-to-bottom {
    position: fixed;
    bottom: 0;
  }

  &.full-width {
    width: 100%;
  }

  &.icon-buton {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:last-of-type) {
    margin-right: 7px;
  }
}